@import '/styles/colors';
@import '/styles/flex';

.wrapper {
  color: $white;
  @extend %flex;
  h1, p {
    margin: 0;
  }

  .imageContainer {
    width: 250px;

    .image {
      border-radius: 50%;
      object-fit: cover;
    }
  }

}