.container {
	width: 100%;
	background: $color4;

	.wrapper {
		padding: 150px 20px;

		@include container-610px;

		h1 {
			margin-bottom: 30px;
		}

		p {
			line-height: 25px;
		}
	}

	span {
		color: $purple;
	}
}
