@import './styles/container';
@import './styles/colors';


.container {
  width: 100%;
  background: $grey-light;
  .wrapper {
    padding: 150px 20px;
    @extend %container610;
    h1 {
      margin-bottom: 30px;
    }
  }
}