@import "./styles/scss/index";

.wrapper {
	border-bottom: 1px solid $color3;

	.experience {
		@extend %container;

		max-width: 800px;
		margin: 0 auto;
		padding: 120px 20px 90px;

		@include _desktop {

		}

		.item {
			display: flex;

			.date {
				display: flex;
				flex-direction: column;
				min-width: 50%;
				padding-right: 90px;
				text-align: right;
				row-gap: 35px;

				@include _tablet {
					padding-right: 40px;
				}

				@include _mobileL {
					padding-right: 20px;
				}
			}

			.company {
				display: flex;
				flex-direction: column;
				margin-bottom: 70px;
				padding-left: 90px;
				row-gap: 35px;

				@include _tablet {
					padding-left: 40px;
				}

				@include _mobileL {
					padding-left: 20px;
				}
			}
		}
	}
}
