@import "./styles/colors";

.divider {
	position: relative;

	div {
		position: absolute;
		top: -9px;
		left: -4px;
		width: 9px;
		height: 9px;
		background: $purple;
		border-radius: 50%;
	}
}

.vertical {
	border-right: 1px solid $color3;
	margin-top: 9px;
}

.horizontal {
	border-bottom: 1px solid $color3;
	margin-left: 9px;

	div {
		top: -4px;
		left: -9px;
	}
}

.dividerLast {
	border-right: none;
}
