@import "./styles/scss/index";

.wrapper {
	.projects {
		@extend %container;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 95px 20px 150px;
		column-gap: 45px;
		row-gap: 45px;

		@include _desktop {
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
		}

		@include _tablet {
			grid-template-columns: 1fr;
		}

		.item {
			position: relative;
			cursor: pointer;

			&:hover {
				.overlay {
					display: flex;
				}
			}

			img {
				border-radius: 11px;
			}

			.overlay {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				z-index: 11;
				display: none;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				padding: 20px;
				background: rgb(132 40 248 / 70%);
				border-radius: 11px;
				transition: all ease 0.2s;
				row-gap: 5px;

				p {
					color: white;
				}

				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
