$forColor1: #141C3A;
$forColor2: #535E88;
$forColor3: #DCDCDE;
$forColor4: #F9FBFD;
$forColor5: #1D274F;
$forPurple: #8428F8;

$purple: $forPurple;
$color1: $forColor1;
$color2: $forColor2;
$color3: $forColor3;
$color4: $forColor4;
$color5: $forColor5;
