@import "./styles/colors";
@import "./styles/container";

.divider {
	border-bottom: 1px solid $color3;
}

.menu {
	@extend %container;
}

.title {
	@extend %container;
}

.intro {
	text-align: center;
	background: $color4;
}

.experience {
}
