@import "./styles/container";
@import "./styles/colors";

.wrapper {
	width: 100%;
	background: $color4;

	.educations {
		@extend %container;

		display: flex;
		padding: 120px 0;
		column-gap: 30px;
	}

	.item {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
}
