@import "./styles/scss/index";

.wrapper {
	width: 100%;
	background: $color4;

	.educations {
		@extend %container;

		display: flex;
		padding: 120px 20px;
		column-gap: 30px;

		@include _desktop {
			width: 100%;
		}

		@include _mobileL {
			flex-direction: column;
			row-gap: 40px;
		}
	}

	.item {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
}
