@import './styles/container';
@import './styles/colors';

.wrapper {
  width: 100%;
  background: #F9FBFD;

  .educations {
    @extend %container;
    display: flex;
    column-gap: 30px;
    padding: 120px 0;
  }

  .item {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}